// Design Tokens
@import "../../node_modules/flight-dev-kit/dist/scss/partials/design-tokens/color";
@import "../../node_modules/flight-dev-kit/dist/scss/partials/design-tokens/elevation";
@import "../../node_modules/flight-dev-kit/dist/scss/partials/design-tokens/radius";
@import "../../node_modules/flight-dev-kit/dist/scss/partials/design-tokens/space";
@import "../../node_modules/flight-dev-kit/dist/scss/partials/design-tokens/typography";

//import prismjs for code highlighting
@import "../../node_modules/prismjs/themes/prism-tomorrow.css";

// Class files
@import "../../node_modules/flight-dev-kit/dist/scss/partials/design-token-classes/typography";

// Glyphs
@import "partials/glyphs";

@import "../../node_modules/flight-dev-kit/index";

@import "../../node_modules/flight-dev-kit/dist/fds-bootstrap/fds-bootstrap.min.css";

@import "partials/pagelayout";

body {
  @extend .type-body-primary-on-light;
  font-size: 16px;
}

.form-jumbo {
  background: $purple-800;
  padding: 4rem 0 10rem 0;

  .form-header {
    max-width: 900px;
    text-align: center;
    margin: 0 auto;
  }
}

.pageform {
  margin: -6rem auto 0 auto;
  padding-bottom: 8rem;
  .container {
    background: $white;
    box-shadow: $ele-md;
    border-radius: $rad-md;
  }
  .inner-form {
    padding: 0 $space-md-fixed * 4 4rem $space-md-fixed * 4;
  }
}
