@font-face {
  font-family: 'fds-glyphs';
  src:  url('../../assets/fonts/fds-glyphs.eot?rqc4wt');
  src:  url('../../assets/fonts/fds-glyphs.eot?rqc4wt#iefix') format('embedded-opentype'),
    url('../../assets/fonts/fds-glyphs.ttf?rqc4wt') format('truetype'),
    url('../../assets/fonts/fds-glyphs.woff?rqc4wt') format('woff'),
    url('../../assets/fonts/fds-glyphs.svg?rqc4wt#fds-glyphs') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="fds-glyphs-"], [class*=" fds-glyphs-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'fds-glyphs' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.fds-glyphs-plus:before {
  content: "\e904";
}
.fds-glyphs-clear:before {
  content: "\e900";
}
.fds-glyphs-calendar:before {
  content: "\e901";
}
.fds-glyphs-chevron-down:before {
  content: "\e902";
}
.fds-glyphs-error:before {
  content: "\e903";
}
