.homepage {
  background: $color-interactive-bg-button-primary-active;
  max-height: auto;
  height: 90vh;
  .container,
  .row {
    height: 100%;
  }
}

.homepage-intro {
  padding: $space-md-fixed 0;
  text-align: center;

  h1,
  h2,
  h3 {
    color: $color-default-text-primary-on-dark;
  }

  h1 {
    margin-bottom: $space-md-fixed;
    span {
      font-weight: 400;
    }
  }
}

.homepage-footer {
  border-top: 4px solid $teal-500;
  background: $purple-800;
  height: 6rem;
  p {
    margin-bottom: 0;
  }
  .container,
  .row {
    height: 100%;
  }
}

.page-container {
  max-width: 1440px;
  padding: 0 $space-md-fixed;
  margin-top: $space-md-fixed;
  margin-bottom: $space-md-fixed;
  margin-right: auto;
  margin-left: auto;

  .row {
    margin-top: $space-md-fixed;
    margin-bottom: $space-md-fixed;
  }
}

.paddingTopBottom {
  padding-top: $space-lg-fixed;
  padding-bottom: $space-lg-fixed;
}

.navbar {
  box-shadow: $ele-md;
  z-index: 2;
}

.topNav {
  background: $color-default-bg-container-primary;
  height: $space-xl-fixed * 2;
  //margin-bottom: $space-md-fixed;
  //border-bottom: 1px solid #f7f7f7;
  box-shadow: $ele-md;
  position: relative;
  z-index: 2;

  

  .container2 {
    height: 100%;
  }

  .topNavGrid {
    display: grid;
    align-items: center;
    grid-template-columns: 20% 20% 20% 20% 20%;
    height: 100%;
  }

  img {
    display: block;
  }

  .fds-link {
    color: $color-interactive-bg-button-primary-active;
    text-align: center;
  }
}

.component-container {
  max-width: 100%;
  overflow: hidden;
}

.bootstrap-sidebar {
  $component: &;

  background: $color-default-bg-nav-default  ;
  width: 100%;
  height: 100%;
  padding: $space-lg-fixed;

  min-height: 90vh;

  h2 {
    color: $teal-600;
  }

  h3 {
    text-transform: uppercase;
    //padding-top: $space-md-fixed;
  }

  .card {
    background: transparent;
    border: none;
    .card-header {
      //padding: 0;
      color: $gray-300;
      padding-left: 0;
      text-transform: uppercase;
      font-size:  0.875rem;
      border: none;
      &:after {
        content: "\e90b";
        color: #ffffff;
        transform: rotate(90deg);
        font-size: .875rem;
        text-transform: none;
        top: auto;
      }
      &:hover {
        background: transparent;
      }

    }
    .card-body {
      color: #ffffff;
      padding-right: 0;
    }
  }

  #{$component}-link {
    color: $white;
    display: block;
    padding: $space-xs-fixed;
    border-radius: $rad-md;

    &:hover {
      background: $color-default-bg-nav-light;
      text-decoration: none;
    }
  }
}

.resources-sidebar {
  $component: &;

  h3 {
    text-transform: uppercase;
  }

  #{$component}-link {
    display: block;
    padding: $space-xs-fixed;
    border-radius: $rad-md;

    &:hover {
      
      text-decoration: none;
    }
  }
}

.tab-pane pre {
  max-height: 400px;
}